# Usable Code

In [1]:
import pickle

import numpy as np
import pandas as pd

In [2]:
with open('game_df.pickle','rb') as read_file:
    game_df = pickle.load(read_file)
    
game_df

,total,tot_1st,tot_rush_att,tot_rush_yds,tot_rush_tds,tot_comp,tot_att,tot_pass_yds,total_pass_tds,total_int,...,tot_third_per,tot_fourth_conv,tot_fourths,tot_fourth_per,margin,tot_off_epa,tot_pass_epa,tot_rush_epa,tot_to_epa,tot_spec_epa
0,76,54,48,184,2,59,84,731,6,0,...,65.38,0,1,0.0,8,43.00,38.99,4.54,-3.32,1.53
1,44,48,58,390,2,32,67,396,2,0,...,40.00,2,4,50.0,18,8.39,3.99,7.93,-15.10,0.21
2,42,37,47,236,1,39,70,504,4,3,...,40.00,0,2,0.0,27,-12.06,-10.10,-0.69,-29.55,3.57
3,30,33,60,206,1,38,58,438,2,1,...,44.83,0,0,NaN,2,3.30,8.45,-5.50,-5.12,2.37
4,41,41,57,231,2,33,55,417,2,2,...,30.00,0,1,0.0,27,-11.81,-1.75,-8.81,-24.37,8.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2398,82,52,42,212,3,54,87,709,7,0,...,30.43,1,5,20.0,20,34.19,34.29,1.04,0.00,6.77
2399,51,45,54,219,4,37,58,520,3,0,...,52.17,1,1,100.0,6,34.16,28.80,6.55,0.00,1.80
2400,59,47,50,197,3,45,67,531,5,0,...,45.00,3,4,75.0,11,35.44,29.55,4.27,0.00,9.99
2401,57,40,58,347,5,37,47,403,2,2,...,36.84,2,2,100.0,18,23.50,16.03,10.13,-8.51,2.28
2402,51,47,51,270,3,46,73,505,3,4,...,40.91,2,4,50.0,11,23.73,10.44,14.61,-10.01,1.58